@page "/TicketView"
@using BlazorBootstrap
@using PracticeGraphQLClient2.DataAccess
@using PracticeGraphQLClient2.DataAccess.Model
@using System.ComponentModel.DataAnnotations
@using System.Drawing

@inject NavigationManager NavigationManager
<h3>Список билетов</h3>

@code {
    private List<Ticket> All = new();
    protected override async Task OnInitializedAsync()
    {
        try
        {
            string completeQuery = "query"
        }
    }
}
